**/.vs
**/ARM
**/Debug
**/Generated\ Files
**/x64
**/x64/
.env
.venv
env/
venv/
ENV/
Car/DrivingSim/DDPG_Images/out/
**/Car/DrivingSim/DDPG_Images/out/
Car/Data/BC/
**/Car/Data/BC/
Car/Data/DAgger/
**/Car/Data/DAgger/
Car/Data/MeLD/Corrected_Feedback/
**/Car/Data/MeLD/Corrected_Feedback/
Car/Data/MeLD/Distance/
**/Car/Data/MeLD/Distance/
Car/Data/MeLD/Feedback/
**/Car/Data/MeLD/Feedback/
Car/Data/MeLD/Feedback_orig/
**/Car/Data/MeLD/Feedback_orig/
Car/Data/MeLD/Initial/
**/Car/Data/MeLD/Initial/
Car/Data/MeLD/Mapper_Models/
**/Car/Data/MeLD/Mapper_Models/
Car/Data/MeLD/Models/
**/Car/Data/MeLD/Models/
Car/Data/MeLD/Pretest/Feedback/
**/Car/Data/MeLD/Pretest/Feedback/
Car/Data/MeLD/Pretest/Feedback_orig/
**/Car/Data/MeLD/Pretest/Feedback_orig/
Car/Data/MeLD/Corrected_Feedback_Test/
**/Car/Data/MeLD/Corrected_Feedback_Test/
Car/Data/MeLD/Mapper_Models_Test/
**/Car/Data/MeLD/Mapper_Models_Test/
Car/Data/MeLD/Models_Test/
**/Car/Data/MeLD/Models_Test/
**/Car/Data/



env.bak/
venv.bak/
.idea
*.pptx
*.xlsx
Data/*.csv
*.csv
**/*.pptx
**/*.xlsx
**/Records
*.tar
**/*.tar
*.tar.gz
**/*.tar.gz
*.pyc
**/*.pyc
**/__pycache__/
/__pycache__/
*.png
**.db
**.ipch
**.pch


#Back files
*.*~
*.autosave
*.orig
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Stuff built by rosmake
*/build
*/bin
*/lib/*.so
*/msg_gen
*/srv_gen
*/catkin
*/catkin_generated
*/cmake_install.cmake
*/CATKIN_IGNORE


#Stuff added by make eclipse-project
*.project
*.pydevproject
*.cproject

#Dynamic Reconfigure files
*.cfgc
kvh_driver/cfg/cpp/
#docs generated by dynamic reconfigure
kvh_driver/docs
kvh_driver/src/kvh_driver/

#Vim swap files
*.swp
*.swo

# Qt Creator CMakeLists user file
*CMakeLists.txt.user

# PyCharm
.idea

# Python
*.pyc

# MAC
.DS_Store


